html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body::before{
        position: fixed;
        left: 0;
        top: 0;
        content:"";
        display:block;
        opacity:1;
      
        /*background-image: url(../image/bg2.jpg)no-repeat center center fixed;
        background-size: cover;*/
        background-image: url(../image/kelli-tungay-RAVdOqWXPvg-unsplash.jpg);
      
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
        height: 150vh;
        width: 100vw;
        z-index: -1;
     }
body{
margin:0;
padding:0;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
line-height: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center;

display:flex;
flex-direction: column;
flex-wrap: wrap;
}
/*header style*/
header{
    display:flex;
     flex-direction: row;
     justify-content: space-around;
    background-color: rgb(8, 0, 1);
    color:white;

}
header h1{
    font-size: 30px;
    color:white;
    font-family: 'Lobster', 'cursive';
    letter-spacing: 2px;
}
header span{
    color:white;
    text-decoration:white;
    text-decoration-style: double;
}
header nav ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    list-style-type: none;

}
header nav ul li{
    margin:20px;
    flex:1 1 auto;
    margin-top:2px;
    margin-bottom: 3px;
    font-size:17.3px;
    padding:5px;
}
header a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Lobster', cursive;
    position:relative;

}
header a::after{
content:"";
position:absolute;
left:0;
bottom:0;
width:100%;
height:2px;
background-color: cornsilk;
transform:scaleX(0);
transform-origin:right;
transition:transform 250ms ease-in;

}
header a:hover::after{
transform:scaleX(1);
transform-origin:left;
}
/* section's article  inside the main*/
section >article{
    background-color: rgb(241, 237, 241);
    position:relative;
    box-shadow: 0px 8px 16px 0px rgba(59, 57, 57, 0.555);
    font-size: 20px;
    padding:10px;
    height:auto;

 }
 /*heading inside the main*/
main h1{
    border:5px solid rgb(6, 86, 177);
    font-family: 'Kaushan Script', cursive;
    padding:15px;
    margin:0;
}
/*first section*/
main section{
    margin:20px;
}
main article h2{
    color:rgb(6, 86, 177);
}
/* second section' class .I styled this section by using class learn */
.learn{
    
 
    padding:15px;
    background-color: white;
    margin-top:70px;
}
 
/*first section */
 main h1+section{
    display:grid;
    grid-template-rows:1fr 1fr ;
    grid-gap:20px;
  
}
/*Third section.I styled this section by using class learnblog */
 .learnblog{
    display:grid;
    grid-template-columns:1fr 1fr  1fr 1fr;
    font-size: 30px;
}
.learnblog h2{
    color:rgb(6, 86, 177);
}
/*image after the header 2*/
h2~img{
    width:400px;
    height:auto;
    border-radius: 20px;
}
.learnblog i{
    color:rgb(6, 86, 177);
    font-size: 40px;
    padding:25px;
    background-color: rgb(241, 237, 241);
    border-radius: 100px;
    
   

}
/*second section */
section+section>article{
    background-color: rgb(255, 255, 255);
 
    
}

/*a tag after the paragrapgh tag*/
p~a{
    color:rgb(34, 124, 165);
    padding:10px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 18px;
    position:absolute;
    bottom:0;
}
/*media query for responsive page*/
@media screen and (max-width:500px){
    h1+section{
        display:grid;
        grid-template-columns: auto auto auto;
    }
    section+section{
        display:grid;
        grid-template-columns: auto auto auto;
    }
}
.previcons i{
    float:left;
    font-size: 40px;
    margin:10px;
}
.previcons+a{
    font-size: 20px;
}
.nexticons i{
    font-size: 40px;
    float :right;
    margin:10px;
}
/*footer*/
footer{
    background-color: black;
   color:white;
   
 }
 footer a i{
 
    padding:11px;
    background-color: rgb(8, 57, 112);
    border-radius: 50px;
    
}
footer a i:hover{
    background-color: white;
     border:1px solid rgb(49, 119, 199);
     transition:.8s linear;
     color:rgb(8, 57, 112);
}

 footer ul{
     list-style-type: none;
     display:flex;
     flex-direction: rows;
     justify-content: center;
 
 }
 footer li{
 margin:20px;
 }
 footer  a{
     text-decoration: none;
     color:white;
 }