html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body::before{
            position: fixed;
            left: 0;
            top: 0;
            content:"";
            display:block;
            opacity:1;
            padding:0;
            margin:0;
            /*background-image: url(../image/bg2.jpg)no-repeat center center fixed;
            background-size: cover;*/
            height: 150vh;
            width: 100vw;
            
     }
body{
        margin:0;
        padding:0;
        
        font-size: 16px;
        line-height: 20px;
     
        text-align: center;

        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
}
header{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(8, 0, 1);
        color:white;

}
header h1{
        font-size: 30px;
        color:white;
      
        margin-top: 20px;
        font-family: 'Lobster', 'cursive';
        letter-spacing: 2px;
}

header nav ul{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        list-style-type: none;

}
header nav ul li{
        margin:20px;
        flex:1 1 auto;
    
        font-size:17.3px;
        padding:5px;
        margin-top:2px;
        margin-bottom: 3px;
    }
header a{
        color:white;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 2px;
         font-family: 'Lobster', cursive;
        position:relative;

    }
header a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:2px;
    background-color: cornsilk;
  transform:scaleX(0);
  transform-origin:right;
  transition:transform 250ms ease-in;
    
}
header a:hover::after{
    transform:scaleX(1);
    transform-origin:left;
}



main h2{
    color:black;
    font-size: 40px;
    text-shadow: 2px 1px rgb(170, 16, 16);
}
main section{
    background-image: url(../image/gabrielle-mustapich-IrETCrYmokI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Abril Fatface', 'cursive';

        
        z-index: -1;
    height:100vh;
    margin:0;
    padding:0;
}/*welcome to my portfolio paragraphs inside the span to seperate*/
main section span{
    position:absolute;
    color:white;
    top:40%;
    left:50%;
    text-align:center;
    font-family: 'Abril Fatface', 'cursive';
    font-size: 40px;
    transform:translatex(-50%) translatey(-50%);
    line-height: 20px;
}
main section p+p{
    position:absolute;
    color:white;
    top:50%;
    left:45%;
    text-align:center;
    font-family: 'Kaushan Script', cursive;
    line-height: 40px;
    font-size: 35px;
    transform:translatex(-50%) translatey(5%);
    
}
/*button style*/
.btn{
    position:relative;
    color:white;
    background-color:rgb(13, 79, 99);
    padding:1em 1.5em;
    text-align:center;
   z-index:1;
    font-family: 'Abril Fatface', cursive;
    cursor: pointer;
    border:0;
    top:35%;
   transform:translatex(-37%) translatey(360%);
    
}
/*click to view button*/
button::after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-color: rgb(75, 85, 231);
    left:0;
    top:0;
    z-index:-1;
 
  transition:transform 200ms ease-in;
}
.btn1::after{
    transform:scaleX(0);
    transform-origin:right;
}
.btn1:hover::after{
    transform:scaleX(1);
    transform-origin: left;
}


/*paragraphs inside the article after the welcome paragraph*/
main section+div{
    display:grid;
   
    grid-template-columns:repeat(auto-fit,minmax(25rem,1fr));
}

/*article inside the div tag*/
section+div article{
    background-image: radial-gradient( #f3f3f3ec, rgba(253, 253, 253, 0.781));
    margin:10px;
    padding:10px;
    border-radius: 20px;
    line-height: 24px;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*icons inside the article*/

article::after {
    content: "";
    display: table;
    clear: both;
  }
/*footer*/
footer{
    background-color: black;
   color:white;
 }
 
 footer a i{
 
    padding:11px;
    background-color: rgb(8, 57, 112);
    border-radius: 50px;
    
}
footer a i:hover{
    background-color: white;
     border:1px solid rgb(49, 119, 199);
    
     color:rgb(8, 57, 112);
}


 footer ul{
     list-style-type: none;
     display:flex;
     flex-direction: row;
     justify-content: center;
 
 }
 footer li{
 margin:20px;
 }
 footer  a{
     text-decoration: none;
     color:white;
 }