html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body::before{
        position: fixed;
        left: 0;
        top: 0;
        content:"";
        display: block;
        opacity:1;
      
        /*background-image: url(../image/bg2.jpg)no-repeat center center fixed;
        background-size: cover;*/
        background-image: url(../image/scott-webb-hDyO6rr3kqk-unsplash.jpg);
      
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
        height: 150vh;
        width: 100vw;
        z-index: -1;
     }
body{
margin:0;
padding:0;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
line-height: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center;
display:flex;
flex-direction: column;
justify-content: space-between;
flex-wrap: wrap;
}
 /*header style*/
header{
    display:flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
    background-color: rgb(8, 0, 1);
    color:white;

}
header h1{
    font-size: 30px;
    color:white;
    margin-top: 20px;
    font-family: 'Lobster', 'cursive';
    letter-spacing: 2px;
}
header span{
    color:white;
    text-decoration:white;
    text-decoration-style: double;
}
header nav ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    list-style-type: none;

}
header nav ul li{
    flex:1 1 auto;
    margin:20px;
    
    font-size:17.3px;
    padding:5px;
    margin-top:1px;
    margin-bottom: 3px;
}
header a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Lobster', cursive;
    position:relative;

}
header a::after{
content:"";
position:absolute;
left:0;
bottom:0;
width:100%;
height:2px;
background-color: cornsilk;
transform:scaleX(0);
transform-origin:right;
transition:transform 250ms ease-in;

}
header a:hover::after{
transform:scaleX(1);
transform-origin:left;
}

 /*header syle end*/

  /*header one inside the main*/
main  h1{

 background-color: white;
 padding:15px;
 border:5px solid rgb(6, 86, 177);
 font-family: 'Kaushan Script', cursive;
 margin:0;
 
} /*image*/
main section img{
    width:200px;
    height:250px;
    float:left;
}

main >*:nth-child(2){

 display:flex;

flex-direction:row wrap;
 justify-content: space-between;

}
 /*second section inside the main function*/
main >*:nth-child(2) article{
    box-shadow: 0px 8px 16px 0px rgba(59, 57, 57, 0.555);
    
    
    flex:1 1 30em;
    background-image: linear-gradient(to bottom,white,white);
    margin:10px;
    padding:30px;
}
article h2{
    color:rgba(5, 84, 158, 0.884);
}


main >*:nth-child(3){

    display:flex;

    flex-direction:row wrap;
     justify-content: space-between;
    }
    main >*:nth-child(3) article{
        flex:1 1 2em;
        background-image: linear-gradient(to bottom,white,white);
        margin:10px;
        padding:30px;
    }
    .previcons i{
        float:left;
        font-size: 40px;
        margin:10px;
    }
    .previcons+a{
        font-size: 20px;
    }
    .nexticons i{
        font-size: 40px;
        float :right;
        margin:10px;
    }
     /*footer*/
footer{
    background-color: black;
   color:white;
 }
 footer a i{
 
    padding:11px;
    background-color: rgb(8, 57, 112);
    border-radius: 50px;
    
}
footer a i:hover{
    background-color: white;
     border:1px solid rgb(49, 119, 199);
     transition:.8s linear;
     color:rgb(8, 57, 112);
}


 footer ul{
     list-style-type: none;
     display:flex;
     flex-direction: row;
     justify-content: center;
 
 }
 footer li{
 margin:20px;
 }
 footer  a{
     text-decoration: none;
     color:white;
 }